[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiohttp-swagger = "*"
django = "*"
celery = "*"
requests = "*"
"psycopg2-binary" = "*"
django-rest-framework = "*"
django-environ = "*"
redis = "*"

[dev-packages]
"flake8" = "*"
ipython = "*"

[requires]
python_version = "3.6"

[scripts]
apiproxy = "python apiproxy/main.py"
apistored = "python apistored/manage.py runserver 8080"
frontdev = "cd hotelmap; npm start"
